body{
    align-items: center;
    background-image: url(Hotel2%20copy.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#mainPic{
    max-width:102%;
    margin: -1%;
    margin-top: -3%;
    position: fixed;
    z-index: -1;
}
header{
    text-align: center;
    padding-bottom: 15%;
}

.topnav {
    background-color: ;
    overflow: hidden;
    padding-left: 17%;
    background-color: rgba(0,0,0,0.7);
   
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px;
    margin-left: 3%;
    
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav .selected{
    background-color: #ddd;
    color: black;
}

#Babylon{
    color: white;
    font-family:  serif;
    text-shadow: 0px 2px 4px rgba(34,62,66,.75);
    text-align: center;
    font-size: 80px;
    width: 100%;
}
#Babylon a{
    color: white;
    text-decoration: none;
}
#Babylon a:hover{
    text-shadow: 5px 5px black;
}
#contain{
    background-color: rgba(0,0,0,0.7);
    width: 90%;
    margin-top: 25%;
    margin-left: 5%;
    border-radius: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.andra-contain{
    background-color: rgba(0,0,0,0.7);
    width: 90%;
    margin-top: -15%;
    margin-left: 5%;
    border-radius: 2%;
   
    padding-bottom: 1%;
}
.rubrik{
    padding-top: 2%;
}
div h1{
    font-family: serif;
    font-size: 50px;
    text-align: center;
    color:aqua;
}
div p{
    font-family: serif;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0px;
    color: lightgray;
}
#left{
    float: left;
    width: 35%;
    height: 200px;
    text-align: left;
    margin-left: 14%;
}
#right{
    float: right;
    width: 35%;
    height: 200px;
    text-align: left;
    margin-right: 11%;
}
#boka{
    width: 75%;
    text-align: center;
    height: 400px;
    margin-top: 20%;
    margin-left: 14%;
}
.underrubrik{
    font-size: 40px;
    color: aqua;
    text-align: center;
}
#boka p, ul{
    text-align: left;
    font-family:  serif;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0px;
    color: lightgray;
}

#tjanster p{
    text-align: center;
    font-size: 35px;
}
#tjanster .t{
    font-size: 25px;
}
#tjanster .t:hover{
    color: aqua;
}
iframe{
    width: 60%;
    height: 450px;
    margin-left: 20%;
    
}
#tom{
    width: 100%;
    height: 90px;
}

div p #index-boka{
    color: aqua;
    text-decoration: underline;
}
#hotelrum{
    width: 45%;
    height: 600px;
    text-align: center;
    display: inline-block;
    margin-left: 1%;
}
#lokal{
    width: 45%;
    height: 600px;
    text-align: center;
    display: inline-block;
    margin-left: 1%
}
#mellan{
    width: 1%;
    height: 600px;
    background-color: aqua;
    
    display: inline-block;
}

font{
     font-family: serif;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0px;
    color: lightgray;
    margin-top: 5%;
}
.mellanrum{
    width: 100%;
    height: 30px;
    float: right;
    display: inline-block;
}
#left a{
    color: lightgray;
    text-decoration: none;
}
#left a:hover{
    color:aqua;
}

#Kontakta{
    margin-left: 5%;
}


#kontakt-bild{
    float: right;
    margin-top: -40%;
    margin-right: 5%;
}

#uppleva-img{
    margin-left: 18%;
}



#boka-sista-p{
        text-align: center;
}



footer{
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 2%;
    
    
}
@media(max-width:1100px){
    #mainPic{
        display: none;
    }
    #contain{
     width: 90%;
     margin-left: 5%;
     color: white;
     padding-bottom: 5%;
     height: auto;  
    }
    
    #boka p, tjanster p, div p, div ul{
        color: white;
    }
    #left{
        width: 90%;
        margin-left: 9%;
    }
    #right{
        float: left;
        margin-left: 40%;
    }

    .andra-contain{
     width: 90%;
     margin-left: 5%;
     color: white;
        
  
    }
    
    #hotelrum{
        text-align: center; 
    }
    #lokal{
        text-align: center;
    }
    #boka-sista-p{
        text-align: center;
    }
  
    #Kontakta{
        margin-left: 10%;
    }
    
    #kontakt-bild{
        width:0%;
    }
    
    
.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    .topnav a{
       margin-left: -20%;
    }
}


@media(max-width:700px){
    #mainPic{
        width: 100%;
        height: 600px;
    }
    #Babylon{
        font-size: 50px;
    }
    #contain{
        margin-top: 20%;
        width: 105%;
        border-radius: 0%;
        margin-left: -3%;
        background-color: white;
        height: 1750px;
    }
    #boka p, tjanster p, div p, div ul{
        color: black;
    }
    #right,#left{
        float: none;
        width: 85%;
        margin: 8%;
        margin-top: 10%;
        display: inline-block;
        text-align: center;
    }

    iframe{
        width: 80%;
        margin-left: 13%;
    }
   
    
    #mellan{
        width: 0%;
    }
    #hotelrum{
        width: 100%;
        text-align: center;
        height: 150px;
    }
    #lokal{
        width: 100%;
        text-align: center;
    }
    .andra-contain{
        margin-top: 60%;
        width: 105%;
        border-radius: 0%;
        margin-left: -3%;
        background-color: white;
    }
   
    #Kontakta{
        margin-left: 2%;
    }
    #tom{
        height: 0%;
    }
     #boka-sista-p{
        text-align: center;
        margin-top: 700px;  
    }
}


